html, body {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  padding: 0px;
}

header {
  display: flex;
  align-items: center;
  background-size: cover;
  padding: 20px;
  position: relative;
  height: 300px;
  margin: 0px;
}

header.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  transition: background-position-y 0.05s ease; /* Add smooth transition */
}

header.parallax:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e0f0ff;
  z-index: -1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
  margin-right: 20px;
}

h1 {
  color: #000000;
  font-size: 3em;
  margin: 0;
}

#target-home {
  scroll-snap-type: y proximity;
}

#target-portfolio {
  text-align: center;
}

#target-about {
  scroll-snap-type: y proximity;
}

#target-contact {
  scroll-snap-type: y proximity;
}

nav {
  position: sticky;
  top: 0;
  height: 5%;
  background-color: #e0f0ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; /* add z-index to ensure nav is on top of other content */
  scroll-padding-top: 100px; /* add scroll-padding-top to create padding space above the scrollable content area */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a {
  color: #666;
  font-size: 1.2em;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #a6c9e2;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  font-weight: 600;
  font-style: normal;
  font-size: 13px;
}

.nav-links a {
  display: block;
  padding: 1rem;
  margin: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 50%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
  }
  .nav-links a {
    margin: 0;
  }
  .toggle-btn {
    display: block;
  }
}
section {
  margin: 150px;
  padding: 30px;
  background-color: #fff;
  width: 75%;
}

section h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  color: #333;
  font-size: 3em;
}

section p {
  color: #666;
  font-size: 1.2em;
  line-height: 1.5;
}

.portfolio-container {
  display: grid;
  /* grid-column: auto; */
  grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  grid-gap: 30px;
}

.portfolio-item {
  display: grid; /* Change to grid display */
  grid-template-columns: 1fr 1fr;
  outline: none;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

/* Title section */
.portfolio-title {
  padding: 20px;
  margin-left: 10%;
  grid-column: span 2;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

/* Image preview section */
.portfolio-image-preview {
  flex: 1;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* fill the entire box with the image */
  height: 100%; /* Set height to 0 */
  opacity: 0.6;
  margin-bottom: 20px;
  transition: opacity 0.2s ease-in-out;
}

/* Image preview blurred background */
.portfolio-image-preview img.background {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px);
}

/* Image preview foreground */
.portfolio-image-preview img.foreground {
  display: block;
  max-width: 60%;
  height: 100%;
  margin: 0 auto;
}

.portfolio-item:hover {
  transform: scale(1.025);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.portfolio-item:hover .portfolio-image-preview img {
  opacity: 1;
}

.portfolio-item-description {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

/* Media query for screens with a maximum width of 768px (such as mobile devices) */
@media (max-width: 768px) {
  .portfolio-item {
    width: 100%; /* Set width to 100% for single item per row on smaller screens */
    margin-right: 0; /* Remove margin-right on smaller screens to stack items vertically */
    margin-bottom: 20px; /* Add margin-bottom for spacing between items on smaller screens */
  }
  .portfolio-item-description {
    display: none; /* hide the portfolio-item-description on smaller devices */
  }
}
.project-container {
  height: auto; /* This will make the section expand to accommodate the images */
  width: 100%; /* Set width to 100% to span across the page */
  max-width: 1200px; /* Optionally, set a max-width for the container */
  margin: 0 auto; /* Center the container horizontally */
  display: flex; /* Use flexbox for flexible layout */
  flex-direction: column; /* This will stack the images vertically */
  height: auto; /* This will make the section expand to accommodate the images */
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* This will align the images to the left margin */
}

.project-container img {
  margin-right: auto; /* This will push the images to the left margin */
  max-width: 100%; /* Optional: to ensure images are responsive and do not overflow */
}

.about-container {
  display: flex;
  align-items: center;
}

.about-container img {
  width: 40%;
  margin-right: 20px;
}

.form-section { /* Class name for the section containing the form */
  width: 600px;
  margin: 0 auto; /* Add this line to center the form section */
  padding: 50px;
}

.form-section section {
  padding: 50px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #a6c9e2;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.toggle-btn {
  display: none;
  float: right;
  cursor: pointer;
}

label {
  margin-bottom: 5px;
}

input[type=text],
input[type=email],
textarea {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  /* border-radius: 3px; */
}

input[type=submit] {
  padding: 10px;
  background-color: #a6c9e2;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7194ad;
}

.separator {
  width: 75%;
  margin: 20px auto;
  border-top: 0.5px solid #d3d3d3;
}

/*# sourceMappingURL=main.css.map */
