header {
    display: block;
    align-items: center;
    background-size: cover;
    padding: 20px;
    position: relative;
    // height: 300px;
    margin: 0px;
}

header.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh;
    transition: background-position-y 0.05s ease; /* Add smooth transition */
}

header.parallax:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e0f0ff;
    z-index: -1;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 20px;
}

h1 {
    color: #000000;
    font-size: 3em;
    margin: 0;
}
