.image-section {
    position: relative;
    // width: 100%;
    // height: 100vh;
}

.image-item {
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    // object-fit: cover;
}

/* Give all images except the first one a z-index of -1 to overlap with the first image */
.image-item:not(:first-child) {
    z-index: -1;
  }
// .image-item:nth-child(1) {
//     z-index: 1;
//     // top: 0;
// }
  
// .image-item:nth-child(2) {
//     z-index: 2;
//     // top: calc(1 * -1090px);
// }

// .image-item:nth-child(3) {
//     z-index: 3;
//     // top: calc(2 * -1090px);
// }

// .image-item:nth-child(4) {
//     z-index: 4;
//     // top: calc(3 * -1090px);
// }

// .image-item:nth-child(5) {
//     z-index: 5;
//     // top: calc(4 * -1090px);
// }

// .image-item:nth-child(6) {
//     z-index: 6;
//     // top: calc(5 * -1090px);
// }

// .image-item:nth-child(7) {
//     z-index: 7;
//     // top: calc(6 * -1090px);
// }

// .image-item:nth-child(8) {
//     top: 0px;
//     // top: calc(7 * -1090px);
// }
