.page {
    width:100vw;
    height: 100vh;
    perspective:1px;
    perspective-origin: center center;
    overflow-x:hidden;
}
.page h1 {
    text-align:center;
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px rgb(65, 65, 65);;
    z-index: 1;
}
.overflow {
    position:absolute;
    width:100vw;
    height:80vh;
    top:100vh;
}
#parallax {
    transform-style: preserve-3d;
    height:120vh;
}

.keyart_layer {
    background-position: center center;
    background-size: cover;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#keyart-0 {
    background-image: url('../images/main/background-8.avif');
    transform:translate3d(0,-138px,-1.3px) scale(2.3);
}
#keyart-1 {
    background-image: url('../images/main/middle-3.avif');
    transform:translate3d(0,-47px,-1px) scale(1.7);
}
#keyart-2 {
    background-image: url('../images/main/hand.avif');
    transform:translate3d(50px,575px,-.5px) scale(1);
}