.project-container {
    height: auto; /* This will make the section expand to accommodate the images */
    width: 100%; /* Set width to 100% to span across the page */
    max-width: 1200px; /* Optionally, set a max-width for the container */
    margin: 0 auto; /* Center the container horizontally */
    display: flex; /* Use flexbox for flexible layout */
    flex-direction: column; /* This will stack the images vertically */
    height: auto; /* This will make the section expand to accommodate the images */
    justify-content: center; /* Center the content horizontally */
    align-items: flex-start; /* This will align the images to the left margin */
}

.project-container img {
    margin-right: auto; /* This will push the images to the left margin */
    max-width: 100%; /* Optional: to ensure images are responsive and do not overflow */
}