.resume-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
  .resume-header {
    margin-bottom: 20px;
}
  
  .resume-pdf {
    width: 800px;
    height: 1100px;
}

@media only screen and (max-width: 767px) {
    .resume-pdf {
      width: 100%;
      height: 1200px;
    }
}
  
  @media only screen and (max-width: 479px) {
    .resume-pdf {
      height: 1300px;
    }
}
