section {
    margin: auto;
    width: 65%;
    background-color: #fff;
    // border: 1px solid #ccc;
    // box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

section h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #333;
    font-size: 3em;
}

section p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.5;
}
